
.bottle{
    margin-bottom: 100px;
}

.shop-title{
    margin-top: 90px;
    margin-bottom: 40px;
}

.bottle-img{
    width: 250px;
}

.b-product{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}


.buy-btn{
    background-color: goldenrod;
    color: white;
    padding: 5px 25px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 15px;
}

@media only screen and (max-width : 440px) {
    .b-product{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}