.nav{
    text-decoration: none;
    color: white;
    align-items: center;
    margin-right: 30px;
    font-weight: 700;
}

.user-btn{
    text-decoration: none;
    color: white;
    align-items: center;
    margin-left: 40px;
    font-weight: 700;
}